# fly.toml app configuration file generated for agoot on 2024-04-20T11:19:16-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'agoot'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 2
